<a href="https://colab.research.google.com/github/hanansuk/guns_n_roses/blob/main/GVA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
install.packages('lmtest')
install.packages('sandwich')
install.packages('stargazer')
install.packages('corrplot')
install.packages('plotly')
install.packages('googledrive')
install.packages('httpuv')
install.packages('reshape2')
install.packages('ggrepel')

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [22]:
library(ggplot2)
library(dplyr)
library(tidyr)
library(stringr)
library(sandwich)
library(lmtest)
library(stargazer)
library(cli)
library(corrplot)
library(scales)
library(tidyverse)
library(stats)
library(plotly)
library(ggrepel)
library(reshape2)
library(googledrive) 
library(httpuv)
library(repr)

In [23]:
if (file.exists("/usr/local/lib/python3.7/dist-packages/google/colab/_ipython.py")) { #may update python version  
                                       #occasionally
  install.packages("R.utils")
  library("R.utils")
  library("httr")
  my_check <- function() {return(TRUE)}
  reassignInPackage("is_interactive", pkgName = "httr", my_check) 
  options(rlang_interactive=TRUE)
}

In [24]:
x <- drive_get("~/accidental_deaths.csv")
drive_download(x, overwrite = TRUE)
accidental_deaths <- read.csv("/content/accidental_deaths.csv", header = TRUE)

x <- drive_get("~/officer_involved_shootings.csv")
drive_download(x, overwrite = TRUE)
officer_involved_shootings <- read.csv("/content/officer_involved_shootings.csv", header = TRUE)

x <- drive_get("~/school_shootings.csv")
drive_download(x, overwrite = TRUE)
school_shootings <- read.csv("/content/school_shootings.csv", header = TRUE)

x <- drive_get("~/mass_shootings.csv")
drive_download(x, overwrite = TRUE)
mass_shootings <- read.csv("/content/mass_shootings.csv", header = TRUE)

✔ The input `path` resolved to exactly 1 file.

File downloaded:

• accidental_deaths.csv <id: 1VO8jkq6YwC9cvHF76lL8RphtdXhjrauA>

Saved locally as:

• accidental_deaths.csv

✔ The input `path` resolved to exactly 1 file.

File downloaded:

• officer_involved_shootings.csv <id: 1sLuZqIwmii9aHnZ-WfL70v2rztDXrlT1>

Saved locally as:

• officer_involved_shootings.csv

✔ The input `path` resolved to exactly 1 file.

File downloaded:

• school_shootings.csv <id: 1IQFwF3mhGVrrDfHUMwqr7Gc9hCYYCy2G>

Saved locally as:

• school_shootings.csv

✔ The input `path` resolved to exactly 1 file.

File downloaded:

• mass_shootings.csv <id: 1sllPAv70RwqdozqD5p1xO_o5E0NlOHtq>

Saved locally as:

• mass_shootings.csv

In [25]:
summary(accidental_deaths)

  Incident.ID      Incident.Date         State           City.Or.County
 Min.   :1416972   Length:2000        Length:2000        Length:2000
 1st Qu.:1713435   Class :character   Class :character   Class :character
 Median :1973491   Mode  :character   Mode  :character   Mode  :character
 Mean   :1994588
 3rd Qu.:2274092
 Max.   :2615784
   Address          X..Victims.Injured X..Victims.Killed
 Length:2000        Min.   :0.000      Min.   :0.000
 Class :character   1st Qu.:0.000      1st Qu.:1.000
 Mode  :character   Median :0.000      Median :1.000
                    Mean   :0.092      Mean   :0.995
                    3rd Qu.:0.000      3rd Qu.:1.000
                    Max.   :6.000      Max.   :2.000
 X..Subjects.Suspects.Injured X..Subjects.Suspects.Killed
 Min.   :0.0000               Min.   :0.000
 1st Qu.:0.0000               1st Qu.:0.000
 Median :0.0000               Median :0.000
 Mean   :0.0145               Mean   :0.025
 3rd Qu.:0.0000               3rd Qu.:0.000
 Max.   :2.0000               Max.   :2.000
 X..Subjects.Suspects.Arrested  Operations
 Min.   : 0.000                Length:2000
 1st Qu.: 0.000                Class :character
 Median : 0.000                Mode  :character
 Mean   : 0.564
 3rd Qu.: 1.000
 Max.   :11.000

In [26]:
summary(officer_involved_shootings)

  Incident.ID      Incident.Date         State           City.Or.County
 Min.   : 508097   Length:2000        Length:2000        Length:2000
 1st Qu.:1041548   Class :character   Class :character   Class :character
 Median :1621275   Mode  :character   Mode  :character   Mode  :character
 Mean   :1592948
 3rd Qu.:2140990
 Max.   :2618853
   Address          X..Victims.Injured X..Victims.Killed
 Length:2000        Min.   :  0.000    Min.   : 0.000
 Class :character   1st Qu.:  1.000    1st Qu.: 0.000
 Mode  :character   Median :  1.000    Median : 0.000
                    Mean   :  1.562    Mean   : 0.227
                    3rd Qu.:  1.000    3rd Qu.: 0.000
                    Max.   :441.000    Max.   :58.000
 X..Subjects.Suspects.Injured X..Subjects.Suspects.Killed
 Min.   :0.000                Min.   :0.000
 1st Qu.:0.000                1st Qu.:0.000
 Median :0.000                Median :0.000
 Mean   :0.201                Mean   :0.377
 3rd Qu.:0.000                3rd Qu.:1.000
 Max.   :3.000                Max.   :2.000
 X..Subjects.Suspects.Arrested  Operations
 Min.   :0.000                 Length:2000
 1st Qu.:0.000                 Class :character
 Median :0.000                 Mode  :character
 Mean   :0.521
 3rd Qu.:1.000
 Max.   :6.000

In [27]:
summary(school_shootings)

  Incident.ID      Incident.Date         State           City.Or.County
 Min.   :2136927   Length:2000        Length:2000        Length:2000
 1st Qu.:2265711   Class :character   Class :character   Class :character
 Median :2424384   Mode  :character   Mode  :character   Mode  :character
 Mean   :2393452
 3rd Qu.:2516879
 Max.   :2618525
   Address          X..Victims.Injured X..Victims.Killed
 Length:2000        Min.   : 0.000     Min.   : 0.0000
 Class :character   1st Qu.: 0.000     1st Qu.: 0.0000
 Mode  :character   Median : 0.000     Median : 0.0000
                    Mean   : 0.131     Mean   : 0.0495
                    3rd Qu.: 0.000     3rd Qu.: 0.0000
                    Max.   :17.000     Max.   :21.0000
 X..Subjects.Suspects.Injured X..Subjects.Suspects.Killed
 Min.   :0.000                Min.   :0.000
 1st Qu.:0.000                1st Qu.:0.000
 Median :0.000                Median :0.000
 Mean   :0.009                Mean   :0.009
 3rd Qu.:0.000                3rd Qu.:0.000
 Max.   :2.000                Max.   :1.000
 X..Subjects.Suspects.Arrested  Operations
 Min.   : 0.000                Length:2000
 1st Qu.: 0.000                Class :character
 Median : 1.000                Mode  :character
 Mean   : 0.835
 3rd Qu.: 1.000
 Max.   :10.000

In [28]:
summary(mass_shootings)

  Incident.ID      Incident.Date         State           City.Or.County
 Min.   :1712342   Length:2000        Length:2000        Length:2000
 1st Qu.:1965485   Class :character   Class :character   Class :character
 Median :2163462   Mode  :character   Mode  :character   Mode  :character
 Mean   :2170548
 3rd Qu.:2393157
 Max.   :2618358
   Address          X..Victims.Injured X..Victims.Killed
 Length:2000        Min.   : 0.000     Min.   : 0.0000
 Class :character   1st Qu.: 3.000     1st Qu.: 0.0000
 Mode  :character   Median : 4.000     Median : 1.0000
                    Mean   : 4.077     Mean   : 0.9805
                    3rd Qu.: 5.000     3rd Qu.: 1.0000
                    Max.   :32.000     Max.   :21.0000
 X..Subjects.Suspects.Injured X..Subjects.Suspects.Killed
 Min.   :0.0000               Min.   :0.0000
 1st Qu.:0.0000               1st Qu.:0.0000
 Median :0.0000               Median :0.0000
 Mean   :0.0485               Mean   :0.0495
 3rd Qu.:0.0000               3rd Qu.:0.0000
 Max.   :5.0000               Max.   :4.0000
 X..Subjects.Suspects.Arrested  Operations
 Min.   : 0.0000               Length:2000
 1st Qu.: 0.0000               Class :character
 Median : 0.0000               Mode  :character
 Mean   : 0.5315
 3rd Qu.: 1.0000
 Max.   :11.0000

In [29]:
head(accidental_deaths)

  Incident.ID Incident.Date State     City.Or.County
1 2615598     June 3, 2023  Tennessee Collierville
2 2615784     June 3, 2023  Texas     San Antonio
3 2613908     June 1, 2023  Missouri  Saint Louis
4 2613423     May 31, 2023  Illinois  River Grove
5 2613673     May 30, 2023  Alabama   Troy
6 2611417     May 29, 2023  Florida   Bonifay
  Address                          X..Victims.Injured X..Victims.Killed
1 712 W Poplar Ave                 0                  1
2 11300 block of Woollcott St      0                  1
3 3100 block of Brantner Pl        0                  1
4 2400 block of West St            0                  1
5 900 block of Pike County Lake Rd 0                  1
6 115 Washington Dr                0                  1
  X..Subjects.Suspects.Injured X..Subjects.Suspects.Killed
1 0                            0
2 0                            0
3 0                            0
4 0                            0
5 0                            0
6 0                            0
  X..Subjects.Suspects.Arrested Operations
1 0                             N/A
2 0                             N/A
3 0                             N/A
4 0                             N/A
5 1                             N/A
6 0                             N/A

In [30]:
head(officer_involved_shootings)

  Incident.ID Incident.Date State        City.Or.County
1 2618850     June 7, 2023  Colorado     Denver
2 2618853     June 6, 2023  Utah         Ogden
3 2614016     June 1, 2023  Oklahoma     Okmulgee
4 2613822     June 1, 2023  Mississippi  Brandon
5 2614035     June 1, 2023  Tennessee    Nashville
6 2613245     May 31, 2023  Pennsylvania Philadelphia
  Address                        X..Victims.Injured X..Victims.Killed
1 2600 block of N Zuni St        1                  0
2 170 N Washington Blvd          1                  0
3 E 2nd St and N Central Ave     1                  0
4 50 block of Terrapin Hill Rd N 1                  1
5 560 Donelson Pike              1                  0
6 2800 block of Jasper St        1                  0
  X..Subjects.Suspects.Injured X..Subjects.Suspects.Killed
1 0                            1
2 0                            1
3 0                            0
4 0                            1
5 0                            1
6 0                            1
  X..Subjects.Suspects.Arrested Operations
1 0                             N/A
2 0                             N/A
3 1                             N/A
4 0                             N/A
5 0                             N/A
6 0                             N/A

In [31]:
head(school_shootings)

  Incident.ID Incident.Date State        City.Or.County Address
1 2618525     June 6, 2023  Pennsylvania Philadelphia   4300 Tacony St
2 2618358     June 6, 2023  Virginia     Richmond       6 N Laurel St
3 2617124     June 5, 2023  Michigan     Warren         31300 Ryan Rd
4 2617497     June 5, 2023  Utah         Salt Lake City 2166 S 1700 E
5 2618343     June 2, 2023  Wisconsin    Madison        702 Pflaum Rd
6 2616067     June 2, 2023  California   San Mateo      506 N Delaware St
  X..Victims.Injured X..Victims.Killed X..Subjects.Suspects.Injured
1 0                  0                 0
2 5                  2                 0
3 0                  0                 0
4 0                  0                 0
5 0                  0                 0
6 0                  0                 0
  X..Subjects.Suspects.Killed X..Subjects.Suspects.Arrested Operations
1 0                           1                             N/A
2 0                           1                             N/A
3 0                           0                             N/A
4 0                           2                             N/A
5 0                           1                             N/A
6 0                           2                             N/A

In [32]:
head(mass_shootings)

  Incident.ID Incident.Date State       City.Or.County
1 2618358     June 6, 2023  Virginia    Richmond
2 2617560     June 5, 2023  Mississippi Jackson
3 2616439     June 4, 2023  Texas       Dallas
4 2615978     June 4, 2023  Illinois    Chicago
5 2616034     June 4, 2023  Florida     Pensacola
6 2616015     June 4, 2023  Missouri    Columbia
  Address                   X..Victims.Injured X..Victims.Killed
1 6 N Laurel St             5                  2
2 440 N Mill St             5                  0
3 201 Planters Rd           4                  1
4 4800 block of W Iowa St   6                  1
5 Cresent Dr                4                  1
6 2600 block of Oakbrook Dr 4                  2
  X..Subjects.Suspects.Injured X..Subjects.Suspects.Killed
1 0                            0
2 0                            0
3 0                            0
4 0                            0
5 0                            0
6 0                            0
  X..Subjects.Suspects.Arrested Operations
1 1                             N/A
2 0                             N/A
3 0                             N/A
4 0                             N/A
5 0                             N/A
6 0                             N/A

In [33]:
accidental_deaths_2 <- accidental_deaths %>%
  mutate(event_type = 'accidental_death')

officer_involved_shootings_2 <- officer_involved_shootings %>%
  mutate(event_type = 'officer_involved_shooting')

school_shootings_2 <- school_shootings %>%
  mutate(event_type = 'school_shooting')

mass_shootings_2 <- mass_shootings %>%
  mutate(event_type = 'mass_shooting')

In [34]:
head(accidental_deaths_2)
head(officer_involved_shootings_2)
head(school_shootings_2)
head(mass_shootings_2)

  Incident.ID Incident.Date State     City.Or.County
1 2615598     June 3, 2023  Tennessee Collierville
2 2615784     June 3, 2023  Texas     San Antonio
3 2613908     June 1, 2023  Missouri  Saint Louis
4 2613423     May 31, 2023  Illinois  River Grove
5 2613673     May 30, 2023  Alabama   Troy
6 2611417     May 29, 2023  Florida   Bonifay
  Address                          X..Victims.Injured X..Victims.Killed
1 712 W Poplar Ave                 0                  1
2 11300 block of Woollcott St      0                  1
3 3100 block of Brantner Pl        0                  1
4 2400 block of West St            0                  1
5 900 block of Pike County Lake Rd 0                  1
6 115 Washington Dr                0                  1
  X..Subjects.Suspects.Injured X..Subjects.Suspects.Killed
1 0                            0
2 0                            0
3 0                            0
4 0                            0
5 0                            0
6 0                            0
  X..Subjects.Suspects.Arrested Operations event_type
1 0                             N/A        accidental_death
2 0                             N/A        accidental_death
3 0                             N/A        accidental_death
4 0                             N/A        accidental_death
5 1                             N/A        accidental_death
6 0                             N/A        accidental_death

  Incident.ID Incident.Date State        City.Or.County
1 2618850     June 7, 2023  Colorado     Denver
2 2618853     June 6, 2023  Utah         Ogden
3 2614016     June 1, 2023  Oklahoma     Okmulgee
4 2613822     June 1, 2023  Mississippi  Brandon
5 2614035     June 1, 2023  Tennessee    Nashville
6 2613245     May 31, 2023  Pennsylvania Philadelphia
  Address                        X..Victims.Injured X..Victims.Killed
1 2600 block of N Zuni St        1                  0
2 170 N Washington Blvd          1                  0
3 E 2nd St and N Central Ave     1                  0
4 50 block of Terrapin Hill Rd N 1                  1
5 560 Donelson Pike              1                  0
6 2800 block of Jasper St        1                  0
  X..Subjects.Suspects.Injured X..Subjects.Suspects.Killed
1 0                            1
2 0                            1
3 0                            0
4 0                            1
5 0                            1
6 0                            1
  X..Subjects.Suspects.Arrested Operations event_type
1 0                             N/A        officer_involved_shooting
2 0                             N/A        officer_involved_shooting
3 1                             N/A        officer_involved_shooting
4 0                             N/A        officer_involved_shooting
5 0                             N/A        officer_involved_shooting
6 0                             N/A        officer_involved_shooting

  Incident.ID Incident.Date State        City.Or.County Address
1 2618525     June 6, 2023  Pennsylvania Philadelphia   4300 Tacony St
2 2618358     June 6, 2023  Virginia     Richmond       6 N Laurel St
3 2617124     June 5, 2023  Michigan     Warren         31300 Ryan Rd
4 2617497     June 5, 2023  Utah         Salt Lake City 2166 S 1700 E
5 2618343     June 2, 2023  Wisconsin    Madison        702 Pflaum Rd
6 2616067     June 2, 2023  California   San Mateo      506 N Delaware St
  X..Victims.Injured X..Victims.Killed X..Subjects.Suspects.Injured
1 0                  0                 0
2 5                  2                 0
3 0                  0                 0
4 0                  0                 0
5 0                  0                 0
6 0                  0                 0
  X..Subjects.Suspects.Killed X..Subjects.Suspects.Arrested Operations
1 0                           1                             N/A
2 0                           1                             N/A
3 0                           0                             N/A
4 0                           2                             N/A
5 0                           1                             N/A
6 0                           2                             N/A
  event_type
1 school_shooting
2 school_shooting
3 school_shooting
4 school_shooting
5 school_shooting
6 school_shooting

  Incident.ID Incident.Date State       City.Or.County
1 2618358     June 6, 2023  Virginia    Richmond
2 2617560     June 5, 2023  Mississippi Jackson
3 2616439     June 4, 2023  Texas       Dallas
4 2615978     June 4, 2023  Illinois    Chicago
5 2616034     June 4, 2023  Florida     Pensacola
6 2616015     June 4, 2023  Missouri    Columbia
  Address                   X..Victims.Injured X..Victims.Killed
1 6 N Laurel St             5                  2
2 440 N Mill St             5                  0
3 201 Planters Rd           4                  1
4 4800 block of W Iowa St   6                  1
5 Cresent Dr                4                  1
6 2600 block of Oakbrook Dr 4                  2
  X..Subjects.Suspects.Injured X..Subjects.Suspects.Killed
1 0                            0
2 0                            0
3 0                            0
4 0                            0
5 0                            0
6 0                            0
  X..Subjects.Suspects.Arrested Operations event_type
1 1                             N/A        mass_shooting
2 0                             N/A        mass_shooting
3 0                             N/A        mass_shooting
4 0                             N/A        mass_shooting
5 0                             N/A        mass_shooting
6 0                             N/A        mass_shooting

In [35]:
gva <- rbind(accidental_deaths_2, officer_involved_shootings_2, school_shootings_2, mass_shootings_2)

In [36]:
## final export
write.csv(gva, "GVA.csv", row.names=FALSE)